
.Button{
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #0241ca;
}
button{
    cursor: pointer;
}
@media (max-width : 500px){
    .Button{
        font-size: 12px;
        padding: 4px;
    }
}