*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

footer{
    /* height: 15vw; */
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}
footer div{
    color: #E5E5E5;
    height: 100%;
    width: 32%;
    /* border: 1px solid white; */

}
a{
    text-decoration: none;
    color: #E5E5E5;
}
a:hover{
    color: #FCA311;
}
