
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.login-outer{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.login{
    height: 100vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E5E5;
    gap: 2vw;
    align-items: center;
    transition-duration: 1s;

}
.login input{
    font-size: 20px;
    height: 70px;
    width: 60%;
    outline: none;
    border: 2px solid rgb(120, 120, 120);
    border-radius: 10px;
    padding-left: 10px;
}
.login a{
    color: blue;
    cursor: pointer;
}
.image-login{
    width: 70%;
    height: 100%;
}
.hideClass{
    visibility: hidden;
    position: absolute;
    height: 0px;
    width: 0px;

}
@media (max-width:950px){
.login-outer div{
    width: 100%;
}
.login{
width: 100%;
}
}
@media (max-width:600px){
    .image-login{
        visibility: hidden;
    position: absolute;
    height: 0px;
    width: 0px;
    }
}